@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-light-hover: var(--lightHover);
  --color-dark-hover: var(--darkHover);
  --color-border: var(--border);
  --color-dark-Hover: var(--darkHover);
  --color-dark-Shadow: var(--darkShadow);
  --color-light-Shadow: var(--lightShadow);
}


:root {
  --background: #fff;
  --text: #000;
  --lightHover: #DBEAFE;
  --lightShadow: #000; 
}

.dark {
  --background: #020d1c;
  --text: #fff;
  --darkHover: #9ca2aa;
  --border: #425f8b; 
  --darkShadow: #425f8b;
}

* {
  font-family: var(--font-outfit);
}

body {
  background-color: var(--background);
  color: var(--text);
}