@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-lightHover: var(--lightHover)
  --color-background: var(--background)
  --color-text:       var(--text)
  --color-darkHover: #2a004a;
  --color-darkTheme: #020d1c;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff

}

:root {
  --background: #fff;
  --text: #000;
  --lightHover: #DBEAFE;
}

.dark {
  --background: #020d1c;
  --text: #fff;
  --lightHover: #DBEAFE;
}

